<div id="menu_normal_horizontal" class="bg-gradient-to-r from-gray-800 via-gray-900 to-gray-800 border-4 border-double border-red-600 p-4 rounded-lg shadow-md w-full">
    <ul class="flex space-x-8 w-full justify-center">
        <li>
            <a href="/administrador/dashboard" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-tachometer-alt"></i> <!-- Dashboard icon -->
                <span class="ml-2">Main</span>
            </a>
        </li>
        <li>
            <a href="/administrador/usuarios" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-users"></i> <!-- Users icon -->
                <span class="ml-2">Usuarios</span>
            </a>
        </li>
        <li>
            <a href="/administrador/productos" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-box"></i> <!-- Product icon -->
                <span class="ml-2">Productos</span>
            </a>
        </li>
        <li>
            <a href="/administrador/compras" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-truck"></i> <!-- Truck icon -->
                <span class="ml-2">Pedidos</span>
            </a>
        </li>
        <li>
            <a href="/administrador/reclamos" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-file-excel"></i> <!-- Excel icon -->
                <span class="ml-2">Reclamos</span>
            </a>
        </li>
        <li>
            <a href="/administrador/categoria/producto" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-tags"></i> <!-- Tag icon -->
                <span class="ml-2">Categoria</span>
            </a>
        </li>
        <li>
            <a href="/" class="flex items-center bg-sky-600 text-white px-6 py-3 hover:bg-orange-700 rounded-lg text-sm">
                <i class="fas fa-store"></i> <!-- Store icon -->
                <span class="ml-2">Tienda</span>
            </a>
        </li>
        <li>
            <a href="/autenticacion/logout" class="flex items-center bg-red-800 text-white px-4 py-3 rounded-lg text-sm">
                <i class="fas fa-sign-out-alt"></i> <!-- Sign-out icon -->
                <span class="ml-2">Cerrar Sesion</span>
            </a>
        </li>
    </ul>
</div>
